@model IList<CartografiasMusicais.Business.Context.Musica>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_PageLayout.cshtml";
}

<div class="row">
    <!-- Box esquerdo -->
    <div class="col-md-10" id="box-esquerdo">
        <div class="row">
            <!-- Texto narrativo -->
            <div class="col-md-5" id="box-texto">
                <div class="tit-narrativo">
                    <span class="glyphicon glyphicon-play seta"> </span> <p>Músicas </p>
                </div>
                <div class="txt areatxt">
                    <p>
                        As músicas – expressas nos seus mais variados gêneros – vêm se constituindo em uma “força movente” no mundo contemporâneo, tendo grande relevância para a construção de imaginários, referenciais culturais fundamentais e, de modo geral, para as articulações entre os actantes em um determinado território. Não só pela recorrência da sua realização nas localidades, mas também pela capacidade em produzir deslocamentos nas “partilhas do sensível” entre aqueles que participam da ambiência dos concertos, constata-se que muitas vezes são construídas “territorialidades sônico-musicais importantes pelos actantes, que vem abrindo brechas na ordem do sensível, bem como permitindo a construção de heterotopias nas quatro cidades pesquisadas.
                    </p>
                </div>
            </div>
            <!-- Cenario -->
            <div class="col-md-7" id="box-cenario">


                <div class="cenario">
                    <center id="cenario_alvo">
                        @if (ViewBag.Videos.Count > 0)
                        {
                            <div class="videocena">
                                <iframe height="350" width="640" src="https://www.youtube-nocookie.com/embed/@ViewBag.VideoDefault.Video"
                                        frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen="">
                                </iframe>
                            </div>
                        }

                    </center>
                </div>

            </div>
        </div>
        <div class="row miniaturas">
            <div class="col-md-12">
                <div><p>Imagens</p></div>
                <div class="regular slider">
                    @foreach (var e in ViewBag.Imagens)
                    {
                        <div>
                            <a href="/musicas/@e.Slug">
                                <img src="@String.Format("https://{0}/imagens/{1}", Context.Request.Host, e.Imagem)"
                                     alt="@e.Nome" data-pagespeed-url-hash="425040009"
                                     onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                            </a>
                        </div>
                    }
                </div>
            </div>
        </div>
        <!-- Miniaturas -->
        <div class="row miniaturas">
            <div class="col-md-12">
                <div><p>Videos</p></div>
                <div class="regular slider">
                    @foreach (var e in ViewBag.Videos)
                    {
                        <div>
                            <a href="#" onclick="callView('@e.Video'); return false;">
                                <img src="https://img.youtube.com/vi/@e.Video/0.jpg"
                                     alt="@e.Nome" data-pagespeed-url-hash="425040009"
                                     onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                            </a>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>


    @await Html.PartialAsync("/Views/Shared/Partial/_BoxDireito.cshtml")
</div>

@section PageScripts {
    <script>
        function callView(link) {
            $.get('@Url.Action("Video", "MusicaView")', { link: link }, function (res) {
                $("#cenario_alvo").html(res);
            });
        }
    </script>
}
