@model IList<CartografiasMusicais.Business.Context.Grupo>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_PageLayout.cshtml";
}

<div class="row">
    <!-- Box esquerdo -->
    <div class="col-md-10" id="box-esquerdo">
        <div class="row">
            <!-- Texto narrativo -->
            <div class="col-md-5" id="box-texto">
                <div class="tit-narrativo">
                    <span class="glyphicon glyphicon-play seta"> </span> <p>Grupos </p>
                </div>
                <div class="txt areatxt">
                    <p>
                        Durante a elaboração dessa cartografia acompanhamos a atuação de dezenas de grupos que trabalho com vários gêneros  musicais e que vêm atuando nas cidades de Paraty, Rio de Janeiro, Conservatória e Rio das Ostras. Mais ou menos apoiados (ou até desencorajados) pelo poder público (especialmente pelos agentes de segurança pública), o fato é que esses grupos musicais e suas redes praticam um “ativismo” e vem atuando há vários anos no espaço público dessas cidades, construindo significativas “territorialidades sônico-musicais” nessas urbes. Os grupos em vários momentos salientaram que a decisão do lugar – que vem sendo eventualmente ocupado com música – leva em conta não só a “paisagem” (a geografia e a arquitetura local), mas também as dinâmicas de circulação dos atores, bem como o fluxo e a intensidade dos fluxos sônicos daquela área.
                    </p>
                </div>
            </div>
            <!-- Cenario -->
            <div class="col-md-7" id="box-cenario">


                <div class="cenario">
                    <center id="cenario_alvo">
                        @if (ViewBag.Videos.Count > 0)
                        {
                            <div class="videocena">
                                <iframe height="350" width="640" src="https://www.youtube-nocookie.com/embed/@ViewBag.VideoDefault.Video"
                                        frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen="">
                                </iframe>
                            </div>
                        }

                    </center>
                </div>

            </div>
        </div>

        <!-- Miniaturas -->
        <div class="row miniaturas">
            <div class="col-md-12">
                <div><p>Imagens</p></div>
                <div class="regular slider">
                    @foreach (var e in ViewBag.Imagens)
                    {

                        <div>
                            <a href="/grupos/@e.Slug" onclick="callImage('@e.Imagem'); return false;">
                                <img src="@String.Format("https://{0}/imagens/content/{1}", Context.Request.Host, e.Imagem)"
                                     alt="@e.Nome" data-pagespeed-url-hash="425040009"
                                     onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                            </a>
                        </div>
                    }
                </div>
            </div>
        </div>
        <div class="row miniaturas">
            <div class="col-md-12">
                <div><p>Videos</p></div>
                <div class="regular slider">
                    @foreach (var e in ViewBag.Videos)
                    {
                        <div>
                            <a href="#" onclick="callVideo('@e.Video'); return false;">
                                <img src="https://img.youtube.com/vi/@e.Video/0.jpg"
                                     alt="@e.Nome" data-pagespeed-url-hash="425040009"
                                     onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                            </a>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>


    @await Html.PartialAsync("/Views/Shared/Partial/_BoxDireito.cshtml")
</div>

@section PageScripts {
    <script>
        function callVideo(link) {
            $.get('@Url.Action("Video", "GruposView")', { link: link }, function (res) {
                $("#cenario_alvo").html(res);
                window.scrollTo(0, 0);
            });
        }

        function callImage(imagem) {
            $.get('@Url.Action("Image", "GruposView")', { imagem: imagem }, function (res) {
                $("#cenario_alvo").html(res);
                window.scrollTo(0, 0);
            });
        }
    </script>
}
