@model IEnumerable<CartografiasMusicais.Business.Context.Corpo>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="page page-tables-datatables">
    <div class="pageheader">
        <h2>Listar <span>Infos da pagina Corpos</span></h2>
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <span><i class="fa fa-home"></i> Administração</span>
                </li>
                <li>
                    <span>Corpos</span>
                </li>
                <li>
                    <span>Listar Todos</span>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <!-- tile -->
            <section class="tile">
                <!-- tile header -->
                <div class="tile-header dvd dvd-btm">
                    <h1 class="custom-font"><strong>Listar</strong> Info para a Pagina Corpos</h1>
                    <ul class="controls">
                        <li>
                            <a asp-action="Create" role="button" tabindex="0" id="add-entry"><i class="fa fa-plus mr-5"></i>Nova Info</a>
                        </li>
                    </ul>
                </div>
                <!-- /tile header -->
                <!-- tile body -->
                <div class="tile-body">
                    <div class="table-responsive">
                        <table class="table table-custom" id="editable">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Cidade</th>
                                    <th>Descrição</th>
                                    <th>Imagem</th>
                                    <th style="width: 160px;" class="no-sort">Ações</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr class="odd">
                                        <td>@Html.DisplayFor(modelItem => item.Id)</td>
                                        @if(item.Cidade != null)
                                        {
                                            <td>@item.Cidade.Nome</td>
                                        }
                                        else
                                        {
                                            <td>Pagina Principal</td>
                                        }
                                        <td>@Html.DisplayFor(modeItem => item.Descricao)</td>
                                        <td>
                                            <img src="@String.Format("https://{0}/imagens/{1}", Context.Request.Host, item.Imagem)" class='img-thumbnail img-circle size-100x100 img-responsive'>
                                        </td>
                                        <td class="actions">
                                            @Html.ActionLink("Editar", "Edit", new { id = item.Id }, new { @class = "edit text-primary text-uppercase text-strong text-sm mr-10" })
                                            <a role="button" tabindex="0" class="delete text-danger text-uppercase text-strong text-sm mr-10">Remover</a>

                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- /tile body -->
            </section>
            <!-- /tile -->
        </div>
    </div>
</div>
@section PageScripts {
    <script>
        $(window).load(function () {

            var table = $('#editable');

            var oTable = $('#editable').DataTable({
                "aaSorting": [],
                "aoColumnDefs": [
                    { 'bSortable': false, 'aTargets': [0,1,2] }
                ],
                "oLanguage": {
                    "sProcessing": "Processando...",
                    "sLengthMenu": "Mostrar _MENU_ registros",
                    "sZeroRecords": "Não foram encontrados resultados",
                    "sInfo": "Mostrando de _START_ até _END_ de _TOTAL_ registros",
                    "sInfoEmpty": "Mostrando de 0 até 0 de 0 registros",
                    "sInfoFiltered": "",
                    "sInfoPostFix": "",
                    "sSearch": "Buscar:",
                    "sUrl": "",
                    "oPaginate": {
                        "sFirst": "Primeiro",
                        "sPrevious": "Anterior",
                        "sNext": "Seguinte",
                        "sLast": "Último"
                    }
                }
            });

            table.on('click', '.delete', function (e) {
                e.preventDefault();

                if (confirm("Deseja Remover esta Postagem?") == false) {
                    return;
                }

                var nRow = $(this).parents('tr')[0];
                var id = ($(nRow).children('td').eq(0).text());
                $.post('Corpo/Delete', { id: id }, function (_) { oTable.row(nRow).remove().draw(); });
            });

        });
    </script>
}