@model CartografiasMusicais.Business.Context.Narrativa

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_PageLayout.cshtml";
}

<div class="row">
    <!-- Box esquerdo -->
    <div class="col-md-10" id="box-esquerdo">
        <div class="row">
            <!-- Texto narrativo -->
            <div class="col-md-5" id="box-texto">
                <div class="tit-narrativo">
                    <span class="glyphicon glyphicon-play seta"> </span> <p>Narrativas </p>
                </div>
                <div class="txt areatxt">
                    <p>
                        Durante a elaboração da cartografia foram entrevistados dezenas de atores envolvidos na experiência das músicas nas ruas nas cidades de Paraty, Rio de Janeiro, Conservatória e Rio das Ostras, sejam eles artistas, autoridades, lideranças e frequentadores. Considerou-se aqui o ato de cartografar, contemplar e conferir destaque às diferentes narrativas cotidianas – considerando inclusive o que é aparentemente menos importante e as “fabulações” que alimentam os imaginários urbanos –, isto é, procurou-se com essa iniciativa colocar em evidência a polifonia presente nos territórios, tornando mais visível pluralidades, interesses, polêmicas e perspectivas que mobilizam os actantes nessas urbes.
                    </p>
                </div>
            </div>
            <!-- Cenario -->
            <div class="col-md-7" id="box-cenario">


                <div class="cenario">
                    <center id="cenario_alvo">
                        @if(Model.Musicos.Count > 0)
                        {
                            <div class="videocena">
                                <iframe height="350" width="640" src="https://www.youtube-nocookie.com/embed/@Model.Musicos.First().Video"
                                        frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen="">
                                </iframe>
                            </div>
                        }
                    </center>
                </div>

            </div>
        </div>

        <!-- Miniaturas -->
        <div class="row miniaturas">
            <div class="col-md-12">
                <div><p>Coletivos Musicais</p></div>
                <div class="regular slider">
                    @foreach (var e in Model.Musicos)
                    {

                        <div>
                            <a href="#" onclick="callVideo('@e.Video'); return false;">
                                <img src="https://img.youtube.com/vi/@e.Video/1.jpg"
                                     alt="@e.Nome" data-pagespeed-url-hash="425040009"
                                     onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                            </a>
                        </div>
                    }
                </div>
            </div>
        </div>

        <div class="row miniaturas">
            <div class="col-md-12">
                <div><p>Frequentadores - Fãs - Consumidores</p></div>
                <div class="regular slider">
                    @foreach (var e in Model.Frequentadores)
                    {

                        <div>
                            <a href="#" onclick="callVideo('@e.Video'); return false;">
                                <img src="https://img.youtube.com/vi/@e.Video/1.jpg"
                                     alt="@e.Nome" data-pagespeed-url-hash="425040009"
                                     onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                            </a>
                        </div>
                    }
                </div>
            </div>
        </div>

        <div class="row miniaturas">
            <div class="col-md-12">
                <div><p>Outras Vozes</p></div>
                <div class="regular slider">
                    @foreach (var e in Model.Vozes)
                    {

                        <div>
                            <a href="#" onclick="callVideo('@e.Video'); return false;">
                                <img src="https://img.youtube.com/vi/@e.Video/1.jpg"
                                     alt="@e.Nome" data-pagespeed-url-hash="425040009"
                                     onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                            </a>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>


    @await Html.PartialAsync("/Views/Shared/Partial/_BoxDireito.cshtml")
</div>
@section PageScripts {
    <script>
        function callVideo(link) {
            $.get('@Url.Action("Video", "NarrativaView")', { link: link }, function (res) {
                $("#cenario_alvo").html(res);
            });
        }
    </script>
}

