
@model CartografiasMusicais.Business.Context.Cidade

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_PageLayout.cshtml";
}

<div class="row">
    <!-- Box esquerdo -->
    <div class="col-md-10" id="box-esquerdo">
        <div class="row">
            <!-- Texto narrativo -->
            <div class="col-md-5" id="box-texto">
                <div class="tit-narrativo">
                    <span class="glyphicon glyphicon-play seta"> </span> <p>@Model.Nome </p>
                </div>
                <div class="txt areatxt">
                    <p>@Model.Descricao</p>
                </div>
            </div>
            <!-- Cenario -->
            <div class="col-md-7" id="box-cenario">


                <div class="cenario">
                    <center id="cenario_alvo">
                        <div class="videocena">
                            @if(Model.Musicas.FirstOrDefault() != null)
                            {
                                <iframe height="350" width="640" src="https://www.youtube-nocookie.com/embed/@Model.Musicas.FirstOrDefault().Video"
                                        frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen="">
                                </iframe>
                            }
                        </div>
                    </center>
                </div>

            </div>
        </div>

        <!-- Miniaturas -->
        <div class="row miniaturas">
            <div class="col-md-12">
                <div><p>Coletivos Musicais</p></div>
                <div class="regular slider">
                    @foreach (var e in Model.Musicas)
                    {

                    <div>
                        @if (string.IsNullOrEmpty(e.Video))
                        {
                            <a href="/@Model.Slug/musicas/@e.Slug" onclick="callImage('@e.Imagem'); return false;">
                                <img src="@String.Format("https://{0}/imagens/{1}", Context.Request.Host, e.Imagem)"
                                     alt="@e.Descricao" data-pagespeed-url-hash="425040009"
                                     onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                            </a>

                        }
                        else
                        {
                            <a href="#" onclick="callVideo('@e.Video'); return false;">

                                <img src="https://img.youtube.com/vi/@e.Video/0.jpg"
                                     alt="@e.Descricao" data-pagespeed-url-hash="425040009"
                                     onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                            </a>
                        }
                    </div>

                    }
                </div>
            </div>
        </div>

        <div class="row miniaturas">
            <div class="col-md-12">
                <div><p>Narrativas</p></div>
                <div class="regular slider">
                    @foreach (var e in Model.Narrativas)
                    {
                    <div>
                        @if (string.IsNullOrEmpty(e.Video))
                        {
                            <a href="/@Model.Slug/narrativas/@e.Slug" onclick="callImage('@e.Imagem'); return false;">
                                <img src="@String.Format("https://{0}/imagens/{1}", Context.Request.Host, e.Imagem)"
                                     alt="@e.Descricao" data-pagespeed-url-hash="425040009"
                                     onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                            </a>
                        }
                        else
                        {
                            <a href="#" onclick="callVideo('@e.Video'); return false;">

                                <img src="https://img.youtube.com/vi/@e.Video/0.jpg"
                                     alt="@e.Descricao" data-pagespeed-url-hash="425040009"
                                     onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                            </a>
                        }
                    </div>
                    }
                </div>
            </div>
        </div>

        <div class="row miniaturas">
            <div class="col-md-12">
                <div><p>Corpos</p></div>
                <div class="regular slider">
                    @foreach (var e in Model.Corpos)
                    {
                    <div>
                        @if (string.IsNullOrEmpty(e.Video))
                        {

                            <a href="/@Model.Slug/corpos/@e.Slug" onclick="callImage('@e.Imagem'); return false;">
                                <img src="@String.Format("https://{0}/imagens/{1}", Context.Request.Host, e.Imagem)"
                                     alt="@e.Nome" data-pagespeed-url-hash="425040009"
                                     onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                            </a>
                        }
                        else
                        {
                            <a href="#" onclick="callVideo('@e.Video'); return false;">

                                <img src="https://img.youtube.com/vi/@e.Video/0.jpg"
                                     alt="@e.Nome" data-pagespeed-url-hash="425040009"
                                     onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                            </a>
                        }
                    </div>
                    }
                </div>
            </div>
        </div>
    </div>


    @await Html.PartialAsync("/Views/Shared/Partial/_BoxDireito.cshtml")
</div>


@section PageScripts {
    <script>
        function callVideo(link) {
            $.get('@Url.Action("Video", "CidadeView")', { link: link }, function (res) {
                $("#cenario_alvo").html(res);
                window.scrollTo(0, 0);
            });
        }

        function callImage(imagem) {
            $.get('@Url.Action("Image", "CidadeView")', { imagem: imagem }, function (res) {
                $("#cenario_alvo").html(res);
                window.scrollTo(0, 0);
            });
        }
    </script>
}