@model IList<CartografiasMusicais.Business.Context.Corpo>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_PageLayout.cshtml";
}

<div class="row">
    <!-- Box esquerdo -->
    <div class="col-md-10" id="box-esquerdo">
        <div class="row">
            <!-- Texto narrativo -->
            <div class="col-md-5" id="box-texto">
                <div class="tit-narrativo">
                    <span class="glyphicon glyphicon-play seta"> </span> <p>Corpos </p>
                </div>
                <div class="txt areatxt">
                    <p>
                        Analisando rodas, festivais, cortejos, festas e, de modo geral, micro e megaeventos musicais nas cidades de Paraty, Rio de Janeiro, Conservatória e Rio das Ostras foi possível constatar a relevância comunicacional dos corpos, delineando ritmos e ambiências nessas localidades. Durante a elaboração dessa cartografia atestou-se a capacidade da música em condicionar o corpo, acionando nossas memórias e afetando ideias, humores e emoções. Não é apenas a sonoridade dos concertos ao vivo executados, mas também as performances articuladas as vozes e ruídos que ecoam pelas ruas que envolvem os actantes e conformam a experiência sensível desses encontros corporais que gravitam em torno das músicas.
                    </p>
                </div>
            </div>
            <!-- Cenario -->
            <div class="col-md-7" id="box-cenario">


                <div class="cenario">
                    <center id="cenario_alvo">
                        @if (ViewBag.Videos.Count > 0)
                        {
                            <div class="videocena">
                                <iframe height="350" width="640" src="https://www.youtube-nocookie.com/embed/@ViewBag.VideoDefault.Video"
                                        frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen="">
                                </iframe>
                            </div>
                        }
                    </center>
                </div>

            </div>
        </div>

        <!-- Miniaturas -->
        <div class="row miniaturas">
            <div class="col-md-12">
                <div><p>Imagens</p></div>
                <div class="regular slider">
                    @foreach (var e in ViewBag.Imagens)
                    {

                        <div>
                            <a href="/corpos/@e.Slug" onclick="callImage('@e.Imagem'); return false;">
                                <img src="@String.Format("https://{0}/imagens/content/{1}", Context.Request.Host, e.Imagem)"
                                     alt="@e.Nome">
                            </a>
                        </div>
                    }
                </div>
            </div>
        </div>
        <div class="row miniaturas">
            <div class="col-md-12">
                <div><p>Videos</p></div>
                <div class="regular slider">
                    @foreach (var e in ViewBag.Videos)
                    {
                        <div>
                            <a href="#" onclick="callVideo('@e.Video'); return false;">
                                <img src="https://img.youtube.com/vi/@e.Video/0.jpg"
                                     alt="@e.Nome">
                            </a>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>

    @await Html.PartialAsync("/Views/Shared/Partial/_BoxDireito.cshtml")
</div>
@section PageScripts {
    <script>
        function callVideo(link) {
            $.get('@Url.Action("Video", "CorposView")', { link: link }, function (res) {
                $("#cenario_alvo").html(res);
                window.scrollTo(0, 0);
            });
        }

        function callImage(imagem) {
            $.get('@Url.Action("Image", "CorposView")', { imagem: imagem }, function (res) {
                $("#cenario_alvo").html(res);
                window.scrollTo(0, 0);
            });
        }
    </script>
}


