@model IList<CartografiasMusicais.Business.Context.Corpo>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_PageLayout.cshtml";
}

<div class="row">
    <!-- Box esquerdo -->
    <div class="col-md-10" id="box-esquerdo">
        <div class="row">
            <!-- Texto narrativo -->
            <div class="col-md-5" id="box-texto">
                <div class="tit-narrativo">
                    <span class="glyphicon glyphicon-play seta"> </span> <p>Corpos </p>
                </div>
                <div class="txt areatxt">
                    <p>O Estado do Rio de Janeiro é um importante “celeiro” da produção musical (e cultural) do país. As cidades de Paraty, Rio de Janeiro, Conservatória e Rio das Ostras tem se destacado nessa macrorregião não só pelas iniciativas mais institucionalizadas – organizadas na forma de grandes eventos articulados em geral às cadeias produtivas do turismo e entretenimento –, mas também pelas ações de redes e coletivos artísticos configuradas de maneira mais espontânea e no formato de rodas e pequenas festas que ocupam os espaços público.</p>
                </div>
            </div>
            <!-- Cenario -->
            <div class="col-md-7" id="box-cenario">


                <div class="cenario">
                    @if (ViewBag.Videos.Count > 0)
                    {
                        <div class="videocena">
                            <iframe height="350" width="640" src="https://www.youtube-nocookie.com/embed/@ViewBag.VideoDefault.Video"
                                    frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen="">
                            </iframe>
                        </div>
                    }
                </div>

            </div>
        </div>

        <!-- Miniaturas -->
        <div class="row miniaturas">
            <div class="col-md-12">
                <div><p>Imagens</p></div>
                <div class="regular slider">
                    @foreach (var e in ViewBag.Imagens)
                    {

                        <div>
                            <a href="/corpos/@e.Slug">
                                <img src="@String.Format("https://{0}/imagens/{1}", Context.Request.Host, e.Imagem)"
                                     alt="@e.Nome" data-pagespeed-url-hash="425040009"
                                     onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                            </a>
                        </div>
                    }
                </div>
            </div>
        </div>
        <div class="row miniaturas">
            <div class="col-md-12">
                <div><p>Videos</p></div>
                <div class="regular slider">
                    @foreach (var e in ViewBag.Videos)
                    {
                        <div>
                            <a href="#" onclick="callView('@e.Video'); return false;">
                                <img src="https://img.youtube.com/vi/@e.Video/0.jpg"
                                     alt="@e.Nome" data-pagespeed-url-hash="425040009"
                                     onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                            </a>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>

    @await Html.PartialAsync("/Views/Shared/Partial/_BoxDireito.cshtml")
</div>
@section PageScripts {
    <script>
        function callView(link) {
            $.get('@Url.Action("Video", "CorposView")', { link: link }, function (res) {
                $("#cenario_alvo").html(res);
            });
        }
    </script>
}


